
@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<h2>AdminHome</h2>
@if (TempData["Message"] != null)
{
    <p>
        @TempData["Message"].ToString()
    </p>
}
